
/**
Custom css
Author: Ailton Junior
Date: 15/11/2019
 */

.bg-custom {
    background-color: #000;
}

div.submenu {
    background-color: #e0e0e0;
    font-size: 10pt;
    color: #000;
}

div.submenu ul.navbar-nav {
    display: inline;
    margin-right: auto;
}

div.submenu ul.navbar-nav li.nav-item {
    float: left;
    padding: 0 0.5rem;
}

div.submenu ul.navbar-nav li.nav-item:hover,
div.submenu ul.navbar-nav li.nav-item:active,
div.submenu ul.navbar-nav li.nav-item:link,
div.submenu ul.navbar-nav li.nav-item:visited {
    background-color: #bdbdbd;
}

div.submenu ul.navbar-nav li.nav-item a.nav-link {
    color: #000;
    text-align: left;
}

div.card {
    border: none;
}

div.card div.card-header {
    margin-bottom: 1rem;
    background-color: transparent;
    border-bottom: none;
    font-weight: bold;
    font-size: 12pt;
    padding-left: 0;
}

div.card div.card-body {
    padding: 0;
}

div.pesquisa {
    display:none;
}

div.table-responsive table tbody tr td {
    vertical-align: middle;
}

div.table-responsive table tbody tr td:first-child {
    width: 20%;
    text-align: center;
}

div.table-responsive.users table tbody tr td:first-child {
    width: auto;
}

div.table-responsive table tbody tr td:first-child img {
    width: 70%;
}

div.table-responsive table thead tr th:last-child {
    text-align: center;
}

div.table-responsive table tbody tr td:last-child {
    width: 20%;
}

div.table-responsive table tbody tr td:last-child div.botoes {
    text-align: center;
}

div.table-responsive table tbody tr td:nth-child(2) span {
    display: block;
    margin-bottom: 1rem;
}

img.img {
    width: 100%;
}

